/// @author Sohail Hasware
/// Fonts
@import url('https://fonts.googleapis.com/css?family=Barlow|Indie+Flower|Spectral+SC');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/// Text setup
$text: (
  body: ('Barlow', sans-serif),
  body-weight: 400,
  body-size: 20pt,
  headline: ('Spectral SC', serif),
  headline-weight: 600,
  headline-size: 20pt,
  headline-size-big: 40pt,
  cite: ('Indie Flower', cursive),
  cite-weight: 400,
  cite-size: 30pt,
  cite-size-big: 50pt,
) !default;


/// COLORS map
$color: (
  main: #EFECCA,
  accent1: #F1BB87,
  accent2: #F78E69,
  accent3: #5D675B,
  accent4: #B6D7B9,
  accent5: #102542,

  dark: #000000,
  bright: #FFFFFF
) !default;


/// Color def map for page-layout using color map
$color-defs: (
  body: map-get($color, main),
  text: map-get($color, dark),
  link: map-get($color, accent2),

  header: map-get($color, accent5),
  header-text: map-get($color, bright),

  footer: map-get($color, accent5),
  footer-text: map-get($color, bright),

  form: map-get($color, main),

  button-default: map-get($color, accent4),
  button-default-text: map-get($color, bright),

  input-field: map-get($color, bright),
  input-field-text: map-get($color, dark),
) !default;


/// Breakpoint map
$breakpoints: (
  'small':  ( min-width:  40.000em ),
  'large':  ( min-width: 62.000em ),
) !default;


